<div class="container">
  <div class="banner_heading">
    <div class="mat-display-2">Sign In</div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form">
        <!-- form goes here -->
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
          <div fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label> Email </mat-label>
              <input
                matInput
                placeholder="Email"
                ngModel
                name="email"
                #email="ngModel"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                required
              />
              <mat-hint>example123@gmail.com </mat-hint>
            </mat-form-field>

            <div
              *ngIf="email.touched && (email.dirty || email.touched)"
              style="margin-left: 10px"
            >
              <p *ngIf="email.errors?.required">Email is a required field!</p>
              <p *ngIf="email.errors?.pattern">This is not a valid Email!!!</p>
            </div>

            <mat-form-field appearance="outline">
              <mat-label> password </mat-label>
              <input
                type="password"
                matInput
                placeholder="password"
                name="password"
                required
                ngModel
                #password="ngModel"
                appForbiddenName="password"
                minlength="6"
              />
              <mat-hint>john!23</mat-hint>
            </mat-form-field>

            <div
              *ngIf="password.touched && (password.dirty || password.touched)"
            >
              <p *ngIf="password.errors?.required">password required</p>
              <p *ngIf="password.errors?.forbiddenName">
                password cannot contain string password
              </p>
              <p *ngIf="password.errors?.minlength">
                password must be at least 6 characters long.
              </p>
            </div>

            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="loginForm.form.invalid"
            >
              Signin
            </button>
            <button mat-raised-button color="accent">Sign up</button>
          </div>
        </form>
        <mat-expansion-panel hideToggle role="button">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayoutAlign="center center">
              <div class="text-center">Try others</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description> Other ways to sign in </mat-panel-description>
          <div class="singin_btn_other">
            <button mat-raised-button (click)="onLoginWithGoogle()">
              <img
                src="assets/logos/Google__G__Logo.png"
                alt=""
                class="logo img-fluid"
              />
              Sign with google
            </button>
          </div>
          <div class="singin_btn_other" (click)="onLoginWithFacebook()">
            <button mat-raised-button>
              <img
                src="assets/logos/fb-logo.png"
                alt=""
                class="logo img-fluid"
              />Sign with Facebook
            </button>
          </div>
          <div class="singin_btn_other">
            <button mat-raised-button>
              <img
                src="assets/logos/twitter-logo.png"
                alt=""
                class="logo img-fluid"
                style="width: 35px; height: auto"
              />Sign with Twitter
            </button>
          </div>
          <div class="singin_btn_other">
            <button mat-raised-button (click)="onLoginWithLinkedIn()">
              <img
                src="assets/logos/linkedin.png"
                alt=""
                class="logo img-fluid"
                style="width: 35px; height: auto"
              />Sign with LinkedIn
            </button>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
    <div class="col-md-6">
      <div class="banner_img">
        <!-- image goes here -->
        <img
          src="assets/images/undraw_Access_account_re_8spm.png"
          alt="login-img"
          class="img-fluid login_banner"
        />
      </div>
    </div>
  </div>
</div>
