<mat-toolbar>
  <div class="row" fxFlex="1">
    <div class="col-md-6 col-sm-12">
      <div class="footer_col_1" fxLayout="row" fxLayoutAlign="center center">
        <p>© 2021 Hootsuite Inc. All Rights Reserved.</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12" fxLayout="row">
      <div
        class="footer_col_1"
        fxLayout="row"
        fxFlex="1"
        fxLayoutAlign="center center"
      >
        <mat-icon> facebook</mat-icon>
        <mat-icon> facebook</mat-icon>
        <mat-icon> facebook</mat-icon>
        <mat-icon> facebook</mat-icon>
      </div>
    </div>
  </div>
</mat-toolbar>
