<!-- main content goes here -->
<div class="container">
  <div class="mat-display-3" fxLayoutAlign="center center">
    Welcome to hootsuite
  </div>
  <div class="row">
    <div
      class="banner_1"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="10px"
    >
      <mat-card>
        <div class="banner__content">
          <div class="banner_img">
            <img
              mat-card-image
              src="assets/images/undraw_Social_media_re_w12q.png"
              class="banner_img img-fluid"
              alt=""
            />
          </div>
        </div>
      </mat-card>
      <div
        class="banner__content"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div class="banner__heading mat-display-2">
          Social is your superpower.
        </div>
        <!-- <div>
          Do more on social in less time Save time by scheduling posts across
          all your social networks in just a few clicks. Automatically schedule
          your content and review posts in a simple calendar view. "I am saving
          so much time by being able to schedule my posts in one place for
          different social media platforms"
        </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="banner_1"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="10px"
    >
      <div class="banner__heading" fxLayoutAlign="center center">
        <div class="mat-display-2">Social is your superpower.</div>
      </div>
      <mat-card>
        <div class="banner__content">
          <div class="banner_img">
            <img
              mat-card-image
              src="assets/images/undraw_Social_media_re_w12q.png"
              class="banner_img img-fluid"
              alt=""
            />
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div
      class="banner_2"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="10px"
    >
      <mat-card>
        <div class="banner__content">
          <div class="banner_img">
            <img
              mat-card-image
              src="assets/images/undraw_New_entries_re_cffr.png"
              class="banner_img img-fluid"
              alt=""
            />
          </div>
        </div>
      </mat-card>
      <div class="banner__heading" fxLayoutAlign="center center">
        <div class="mat-display-2">Social is your superpower.</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="banner_1"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="10px"
    >
      <div class="banner__heading">
        <div class="mat-display-2">Social is your superpower.</div>
      </div>

      <div class="banner__content">
        <div class="banner_img">
          <mat-card>
            <img
              mat-card-image
              src="assets/images/undraw_Social_bio_re_0t9u.png"
              class="banner_img img-fluid"
              alt=""
            />
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
