<div class="container">
  <div class="row" fxLayout.sm="column">
    <div class="col-md-3"></div>
    <div class="col-md-6 col-md-offset-6 col-sm-12">
      <mat-card>
        <mat-card-title>
          <mat-toolbar>
            {{ User.firstName }} {{ User.lastName }}</mat-toolbar
          ></mat-card-title
        >
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="center center">
            <img src="{{ User.displayImage }}" alt="displayImage" srcset="" />
          </div>
          <mat-toolbar>{{ User.email }}</mat-toolbar>
          <br />
          <mat-toolbar>LinkedIn Id - {{ User.authProviderUserId }}</mat-toolbar>
        </mat-card-content>
        <div fxLayout="row" fxLayoutAlign="end">
          <button
            mat-raised-button
            color="warn"
            (click)="onLogoutFromLinkedIn()"
          >
            Logout
          </button>
        </div>
      </mat-card>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
